.main__container{
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main__head{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 40px;
}

.head__title{
  margin-bottom: 40px;
}

.main__body{
  margin-left: 350px;

  @media all and (min-width: 768px){
    margin-left: 0;
  }
}

.body__card-list{
  width: 690px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 160px 160px;
  grid-auto-rows: 195px;
  grid-gap: 10px;
  list-style-type: none;

  @media all and (min-width: 768px){
    grid-template-columns: auto auto auto auto;
  }
}

.card-list__image{
  border: 2px solid $color-grey;
  border-radius: 10px;
  height: 195px;
  width: 160px;
}

