.page__main{
  grid-area: main;
  z-index: -2;
  background-color: black;
}

.main__bg{
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
  max-width: 100%;

  opacity: 0.5;
}

.main__container{
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main__head{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 40px 0;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 5px;
}

.head__title{
  margin-bottom: 40px;
}

.body__card-list{
  width: 80%;
  margin: 0 0 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 160px 160px;
  grid-auto-rows: 195px;
  grid-gap: 10px;
  list-style-type: none;

  @media all and (min-width: 768px){
    grid-template-columns: auto auto auto auto;
  }
}

.card-list__image{
  border: 2px solid $color-grey;
  border-radius: 10px;
  height: 195px;
  width: 160px;
}

