@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/pair-game';
@import url('https://fonts.googleapis.com/css?family=Audiowide');

*{
  box-sizing: border-box;
}

body {
	background: $color-white;
  height: 100vh;
  margin: 0;
  position: relative;
}
